<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifikasi</title>
  </head>
  <body style="font-family: 'Montserrat', Arial, sans-serif">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="padding: 20px">
          <table
            class="content"
            width="600"
            border="0"
            cellspacing="0"
            cellpadding="0"
          >
            <!-- Header -->
            <tr>
              <td
                class="header"
                style="
                  background-color: #2c2f44;
                  padding: 40px;
                  text-align: center;
                  color: white;
                  font-size: 24px;
                "
              >
                <span>Notifikasi</span>
              </td>
            </tr>

            <!-- Body -->
            <tr>
              <td
                class="body"
                style="
                  padding: 40px;
                  text-align: justify;
                  font-size: 16px;
                  line-height: 1.6;
                "
              >
                <p th:utext="${message}"></p>
                <br />
                <p>Hormat saya,</p>
                <p>Risda Rahmawati Harsono</p>
              </td>
            </tr>

            <!-- Footer -->
            <tr>
              <td
                class="footer"
                style="
                  background-color: #383e56;
                  padding: 40px;
                  text-align: center;
                  color: white;
                  font-size: 14px;
                "
              >
                <br />
                <!-- Social Media Links -->

                <a
                  href="https://www.linkedin.com/in/risdarh/"
                  style="color: white; text-decoration: none; margin: 0 10px"
                >
                  <img
                    src="https://img.icons8.com/ios-filled/24/ffffff/linkedin.png"
                    alt="LinkedIn"
                  />
                </a>
                <a
                  href="https://www.instagram.com/risdaah/"
                  style="color: white; text-decoration: none; margin: 0 10px"
                >
                  <img
                    src="https://img.icons8.com/ios-filled/24/ffffff/instagram-new.png"
                    alt="Instagram"
                  />
                </a>
                <a
                  href="https://github.com/risdaah"
                  style="color: white; text-decoration: none; margin: 0 10px"
                >
                  <img
                    src="https://img.icons8.com/ios-filled/24/ffffff/github.png"
                    alt="GitHub"
                  />
                </a>
                <br /><br />
                Copyright &copy;
                <span th:text="${#dates.format(new java.util.Date(), 'yyyy')}"
                  >2024</span
                >
                | Risda Rahmawati Harsono
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
